.datatable {
  $border-width: 1px;
  $header-color: #eaf0f6;
  $border-color: #d7dfe8;

  position: relative;

  &__table {
    width: 100%;
    border-collapse: separate !important;
    overflow: hidden;
    border-radius: 0.35rem 0.35rem 0 0;
    border-spacing: 0;
    border: 1px solid #e9ecef;
  }

  thead {
    background-color: $header-color;

    th {
      border-bottom: $border-width solid $border-color;
      border-top: $border-width solid $border-color;
    }

    th:last-child {
      border-right: $border-width solid $border-color;
      border-top-right-radius: 0.35rem;
    }

    th:first-child {
      border-left: $border-width solid $border-color;
    }
  }

  tbody {
    td {
      border-bottom: 1px solid $border-color;
    }

    td:last-child {
      border-right: $border-width solid $border-color;
    }

    td:first-child {
      border-left: $border-width solid $border-color;
    }

    tr:last-child {
      td {
        border-bottom: $border-width solid $border-color;
      }
    }
  }

  th {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  td {
    padding: 0.5rem 1rem;
  }

  .datatable__actions {
    text-align: right;

    .divider {
      border-left: 2px solid $border-color;
      height: 80%;
      border-radius: 1rem;
    }

    .action {
      cursor: pointer;
      margin-left: 1rem;
      color: $primary;

      &:hover {
        color: $primary-dark;
      }

      a {
        display: inline;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .datatable__loading {
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: 30;
    overflow: hidden;

    .loading__background {
      background-color: rgba(255, 255, 255, 0.5);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .loading__spinner {
      z-index: 2;
    }
  }

  &.is-loading {
    .datatable__loading {
      display: flex;
    }
  }
}

.datatable__pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .action {
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
}

/* Spinner Wave */
.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
}

.sp-wave {
  border-radius: 50%;
  position: relative;
  opacity: 1;
}
.sp-wave:before,
.sp-wave:after {
  content: "";
  border: 1px $primary solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.sp-wave:before {
  transform: scale(1, 1);
  opacity: 1;
  -webkit-animation: spWaveBe 0.6s infinite linear;
  animation: spWaveBe 0.6s infinite linear;
}
.sp-wave:after {
  transform: scale(0, 0);
  opacity: 0;
  -webkit-animation: spWaveAf 0.6s infinite linear;
  animation: spWaveAf 0.6s infinite linear;
}
@-webkit-keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes spWaveAf {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
/* End Spinner Wave */
