.dashboard__lists {
  .lists__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .lists__buttons {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .lists__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    margin-bottom: 1rem;

    .grid__item {
      background-color: #ffffff;
      padding: 1rem;
      border-radius: 0.75rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

      .item__title {
        font-weight: 700;
        position: relative;
        background-color: #ffffff;
        padding-bottom: 0.5rem;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
      }

      .item__lists {
        font-size: 0.875rem;

        .lists__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #f5f5f5;
          margin-bottom: 0.5rem;
          border-radius: 0.5rem;
          transition: background-color 0.25s ease-in-out;
          cursor: pointer;

          &:last-child {
            margin-bottom: 0;
          }

          .item__content {
            width: 100%;
            padding: 0.75rem 1rem;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            transition: background-color 0.25s ease-in-out;

            &:hover {
              background-color: #dedede;
            }
          }

          .item__actions {
            position: relative;

            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -0.0625rem;
              width: 0.0625rem;
              height: 100%;
              background-color: #c2c2c2;
            }

            button {
              background-color: #f5f5f5;
              padding: 0.75rem 1rem;
              border: none;
              border-top-right-radius: 0.5rem;
              border-bottom-right-radius: 0.5rem;
              transition: background-color 0.25s ease-in-out;

              &:hover {
                background-color: #dedede;
              }
            }

            .fa-trash {
              color: #e65c4f;
            }
          }
        }

        .lists__emtpy {
          background-color: #f5f5f5;
          padding: 0.75rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
}
