.c-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 17.5rem;
  height: 100%;
  background-color: $primary;
  z-index: 999;

  .sidebar__top {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    color: $white;
    padding: 1rem;

    span {
      font-size:  1rem;
      font-weight: 300;
    }
  }

  .sidebar__navigation {
    ul {
      display: flex;
      flex-direction: column;
      padding-left: 0;

      li {
        color: #e9eef2;
        padding: 0 1rem .5rem;

        &:last-child {
          padding: 0 1rem;
        }

        &.navigation__title {
          font-weight: 700;
          position: relative;

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: calc(1rem - 0.25rem);
            right: 1rem;
            width: 8rem;
            height: .125rem;
            background-color: $white;
          }
        }
      }

      a {
        line-height: 1rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        position: relative;
        color: #e9eef2;
        padding: 1rem;
        border-radius: .75rem;
        transition: background-color 0.25s ease-in-out;

        &:hover {
          background-color: #19394D;
        }

        &.router-link-active {
          font-weight: 700;
          position: relative;
          color: #e9eef2;
          background-color: $primary-dark;

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -1rem;
            width: 1.5rem;
            height: 100%;
            background-color: #19394D;
          }
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
          margin-right: 0.75rem;
        }
      }
    }
  }
}
