.c-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 17.5rem;
  height: 100%;
  background-color: #eeeeee;
  z-index: 999;

  .sidebar__top {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    color: $black;
    padding: 1rem;
  }

  .sidebar__navigation {
    ul {
      display: flex;
      flex-direction: column;
      padding-left: 0;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $black;
        padding: 1rem;
        transition: background-color 0.25s ease-in-out;

        &:hover {
          background-color: #e3e6f0;
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
          margin-right: 0.75rem;
        }
      }
    }
  }
}
